<link rel="import" href="../lib/polymer/components/polymer/polymer.html">
<link rel="import" href="../lib/polymer/components/core-ajax/core-ajax.html">

<polymer-element name="login-screen" attributes="pods" >
    <template>

        <paper-input label="Email" type="email" error="Input is not an email!" id="userId" style="text-align: left"></paper-input>
        <paper-input label="Password" type="password" id="userpassword"  style="text-align: left"></paper-input><br>
        <paper-button raisedButton class="colored" label="Start Brewing" onclick="loginYes()"></paper-button>

    </template>
    <script>

    </script>
</polymer-element>