<link rel="import" href="../lib/polymer/components/polymer/polymer.html">
<link rel="import" href="../lib/polymer/components/core-icon-button/core-icon-button.html">
<link rel="import" href="../ajax-service/pod-service.html">
<link rel="import" href="../lib/polymer/components/paper-button/paper-button.html">
<link rel="import" href="pod-design.html">


<polymer-element name="pod-view">
    <template>
        <style>
            .podDiv {
                height: 4%;
                width: 25%;
                background-color: #67a3da;
                /*float: left;*/
                -webkit-border-radius: 4px;
                margin: 10px 10px 10px 10px;
                overflow: hidden;
            }

            .favPodDiv {
                height: 4%;
                width: 25%;
                background-color: #a2daaa;
                /*float: left;*/
                -webkit-border-radius: 4px;
                margin: 10px 10px 10px 10px;
                overflow: hidden;
            }

        </style>

        <pod-service id="service" pods="{{pods}}"></pod-service>
        <!--<p align="center">My Favorite Pod</p>-->
        <div  horizontal layout flex on-drop="{{drop}}" on-dragover="{{allowDrop}}">
            <template repeat="{{pod in pods}}" >
                <template if="{{pod.favoritePod}}">
                    <div class="favPodDiv" style="text-align: center" draggable="true" id="{{pod.podName}}" on-dragstart="{{ dragstart }}">
                        <p style="background-color: white">{{pod.podName}}</p>
                        <p>{{pod.description}}</p>
                        <button style="background: #f44a4a; color: #fff" onclick="{{useThisPod}}">Select</button>
                    </div>
                </template>
            </template>
       </div>
       <hr>
        <div  horizontal layout flex on-drop="{{drop}}" on-dragover="{{allowDrop}}">
            <template repeat="{{pod in pods}}" >
                <template if="{{!pod.favoritePod}}">
                    <div class="podDiv" style="text-align: center" draggable="true" id="{{pod.podName}}" on-dragstart="{{ dragstart }}">
                        <p style="background-color: white">{{pod.podName}}</p>
                        <p>{{pod.description}}</p>
                        <button style="background: #f44a4a; color: #fff" onclick="{{useThisPod}}">Select</button>
                    </div>
                </template>
            </template>
        </div>

    </template>
    <script>


        Polymer({

            useThisPod: function() {
              alert("this pods");
            }
            ,

            dragstart : function(ev){
                console.log("drag started...");
                ev.dataTransfer.setData("text/html", ev.target.id);
            },

            allowDrop : function(ev) {
            ev.preventDefault();
            },

            drag: function(ev){
             console.log("drag called..."+ev.target.id);
              ev.dataTransfer.setData("text/html", ev.target.id);
            },

            drop : function(ev){
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text/html");
            console.log("drop called..."+data);
            ev.target.appendChild(this.shadowRoot.getElementById(data));
            }
        });
    </script>
</polymer-element>
